$blue-facebook: #4c69ba;
$blue-twitter: #55ACEE;
$green-watsApp: #25CF43;
$white: #ffffff;
$primary: #D13135;
$primary-hover: #bf2d31;
$red: #E0201F;
$grey: #A1a1a1;
$grey29: #A1a1a129;
$grey-bold: #707070;
$black: #444444;
$grey-background: #f0f0f0;
$text-grey: #8E8E8E;
$dark-grey: #C7C5C5;
$slate-grey: #EAEAEA;
$grey-smooth: #F9F9F9;
$grey-label: #464646;
$grey-shadow: #00000029;
$border-color: #dddddd;
$color-filter: #404040;
$green: #11902F;
$color-play: #b3b3b3;
$grey-box: #f1f1f1;
$box-shadow: rgba(0, 0, 0, 0.24);
$shadow-product: #00000029;
$disabled: #909090;
$background-black: #242021;
$border-box-color: #b6b6b6;
$shadow-detail: #32323228;
$bgc-button-grey: #727C8E;
$buttery-white: #FFFBE8;
$grey-btn: #9B9B9B;
$yellow-text: #F7BF00;
$color-f5: #f5f5f5;
$pink: #FFEAEA;
$box-shadow-dashboard: #3232321A;
$color-f7: #F7F7F7;
$color-f2: #F2F2F2;
$color-blue: #4780CF;
$color-grey-rating: #d3d3d3;
$orange: #F49C00;
$gold: #D7A500;
$text-black: #242424;