@import "../variables/colors";

.button__action--active {
  color: $primary !important;
  border-bottom: 2px solid $primary !important;
  border-radius: 0 !important;
}

// Custom Slick Slider Vertical
.slick-prev, .slick-next {
  font-size: 15px !important;
}
.product__detail__image .slick-prev {
  top: 45%;
  left: 0;
}
.product__detail__image .slick-next {
  top: 45%;
  right: -9%;
}
.slick-prev:before, .slick-next:before  {
  content: '' !important;
}
.slick-track {
  height: auto !important;
  margin-left: 0;
  margin-right: 0;
}
.slick-list {
  left: 5%;
}