.skeleton__banner {
  height: 365px !important;
}
.skeleton__image__product {
  height: 220px !important;
}
.skeleton__content__product {
  padding: 0 10px;
}
.skeleton__price__product {
  padding: 18px 10px 30px;
}
.skeleton__action__product {
  padding: 0 10px 10px;
}
.skeleton__card__mobile {
  margin: 10px 10px;
}